# 1. Enable in Visual Studio:
#   Tool -> Options -> Text Editor -> General
#       Follow project coding conventions: yes
#
# 2. ReSharper (2018.3):
#   Options -> Code Inspection -> Settings
#       Read Settings from editorconfig and project settings: yes
#
#   Options -> Code Editing -> General Formatter Style
#       Enable EditConfig support: yes

[*.*]
charset=utf-8
indent_style=space
end_of_line=crlf
insert_final_newline=true
trim_trailing_whitespace=true
indent_size=2
max_line_length=160

[*.{cs,cpp,c,h,hpp}]
indent_size=4

# C# files
[*.cs]

## Unsorted

resharper_xmldoc_indent_text=zero_indent
place_simple_declaration_blocks_on_single_line=true

## Visual Studio -> https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-language-conventions?view=vs-2019

#dotnet_style_qualification_for_field = true:warning
#dotnet_style_qualification_for_property = true:warning
#dotnet_style_qualification_for_method = true:warning
#dotnet_style_qualification_for_event = true:warning
#dotnet_style_predefined_type_for_locals_parameters_members = true:warning
#dotnet_style_predefined_type_for_member_access = true:warning
#dotnet_style_require_accessibility_modifiers = always:warning
#csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:warning
#dotnet_style_readonly_field = true:warning
#dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:warning
#dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:warning
#dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:warning
#dotnet_style_parentheses_in_other_operators = always_for_clarity:warning
#dotnet_style_object_initializer = true:warning
#dotnet_style_collection_initializer = true:warning
#dotnet_style_explicit_tuple_names = true:warning
#dotnet_style_prefer_inferred_tuple_names = true:warning
#dotnet_style_prefer_inferred_anonymous_type_member_names = true:warning
#dotnet_style_prefer_auto_properties = true:warning
#dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning
#dotnet_style_prefer_conditional_expression_over_assignment = true:warning
#dotnet_style_prefer_conditional_expression_over_return = true:warning
#dotnet_style_coalesce_expression = true:warning
#dotnet_style_null_propagation = true:warning
csharp_style_var_for_built_in_types=false:warning
csharp_style_var_when_type_is_apparent=true:warning
csharp_style_var_elsewhere=false:warning
csharp_style_expression_bodied_methods=true:none
csharp_style_expression_bodied_constructors=false:none
csharp_style_expression_bodied_operators=true:none
csharp_style_expression_bodied_properties=true:none
csharp_style_expression_bodied_indexers=true:none
csharp_style_expression_bodied_accessors=true:none
#csharp_style_pattern_matching_over_is_with_cast_check = true:warning
#csharp_style_pattern_matching_over_as_with_null_check = true:warning
#csharp_style_inlined_variable_declaration = true:warning
#csharp_prefer_simple_default_expression = true:warning
#csharp_style_deconstructed_variable_declaration = true:warning
#csharp_style_pattern_local_over_anonymous_function = true:warning
#csharp_style_throw_expression = true:warning
#csharp_style_conditional_delegate_call = true:warning
#csharp_prefer_braces = true:warning
#dotnet_sort_system_directives_first = true:warning
#dotnet_separate_import_directive_groups = false:warning
#csharp_new_line_before_open_brace = all:warning
#csharp_new_line_before_else = true:warning
#csharp_new_line_before_catch = true:warning
#csharp_new_line_before_finally = true:warning
#csharp_new_line_before_members_in_object_initializers = true:warning
#csharp_new_line_before_members_in_anonymous_types = true:warning
#csharp_new_line_between_query_expression_clauses = true:warning
#csharp_indent_case_contents = true:warning
#csharp_indent_switch_labels = true:warning
#csharp_indent_labels = false:warning

## C# - Blank Lines -> https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_BlankLinesPageScheme.html

blank_lines_around_region=1
blank_lines_inside_region=1
blank_lines_before_single_line_comment=1
keep_blank_lines_in_declarations=1
remove_blank_lines_near_braces_in_declarations=true
blank_lines_after_start_comment=0
blank_lines_between_using_groups=0
blank_lines_after_using_list=1
blank_lines_around_namespace=1
blank_lines_inside_namespace=0
blank_lines_around_type=1
blank_lines_inside_type=0
blank_lines_around_field=1
blank_lines_around_single_line_field=0
blank_lines_around_property=1
blank_lines_around_single_line_property=0
blank_lines_around_auto_property=1
blank_lines_around_single_line_auto_property=0
blank_lines_around_invocable=1
blank_lines_around_single_line_invocable=0
keep_blank_lines_in_code=1 # TODO: Is this useful?
remove_blank_lines_near_braces_in_code=true
blank_lines_around_local_method=1
blank_lines_around_single_line_local_method=0
blank_lines_before_control_transfer_statements=0 # TODO: Or 1?
blank_lines_after_control_transfer_statements=0 # TODO: Or 1?
blank_lines_before_block_statements=0 # TODO: Or 0?
blank_lines_after_block_statements=1 # TODO: Or 0?
blank_lines_before_multiline_statements=0
blank_lines_after_multiline_statements=0
blank_lines_before_case=0
blank_lines_after_case=0

## C# - Braces Style -> https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_BracesPageSchema.html

brace_style=next_line
indent_inside_namespace=true
#use_continuous_indent_inside_initializer_braces = true # TODO: What is this?
allow_comment_after_lbrace=false
empty_block_style=multiline

## C# - CodeStyle -> https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpCodeStylePageImplSchema.html

for_built_in_types=use_explicit_type
for_simple_types=use_var_when_evident
for_other_types=use_var_when_evident
#prefer_separate_deconstructed_variables_declaration = true # TODO: Check
#prefer_explicit_discard_declaration = true # TODO: Check
instance_members_qualify_members=all
#instance_members_qualify_declared_in = base_class # TODO: Check
#static_members_qualify_with = all # TODO: Check
#static_members_qualify_members = all # TODO: Check
builtin_type_reference_style=use_keyword
builtin_type_reference_for_member_access_style=use_keyword
prefer_qualified_reference=false
add_imports_to_deepest_scope=true
sort_usings_with_system_first=true
qualified_using_at_nested_scope=true
allow_alias=true
can_use_global_alias=true
default_private_modifier=explicit
default_internal_modifier=explicit
#modifiers_order # TODO: Set
#arguments_skip_single # TODO: What is this?
arguments_literal=positional
arguments_string_literal=positional
arguments_named=positional
arguments_anonymous_function=positional
arguments_other=positional
parentheses_redundancy_style=remove_if_not_clarifies_precedence
parentheses_non_obvious_operations=arithmetic,shift,relational,equality,bitwise,conditional,null_coalescing,lowest
braces_for_ifelse=required
braces_for_for=required
braces_for_foreach=required
braces_for_while=required
braces_for_dowhile=required
braces_for_using=required
braces_for_lock=required
braces_for_fixed=required
braces_redundant=true
method_or_operator_body=expression_body
local_function_body=expression_body
constructor_or_destructor_body=block_body
accessor_owner_body=expression_body
use_heuristics_for_body_style=true # TODO: What is this?
force_attribute_style=separate

## C# - Tabs, Indents, Alignment -> https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_CSharpIndentStylePageSchema.html

continuous_indent_multiplier=1
indent_nested_usings_stmt=true
indent_nested_fixed_stmt=true
indent_nested_lock_stmt=true
indent_nested_for_stmt=true
indent_nested_foreach_stmt=true
indent_nested_while_stmt=true
use_continuous_indent_inside_parens=true # TODO: What is this?
indent_method_decl_pars=inside
indent_invocation_pars=inside
indent_statement_pars=inside
indent_typeparam_angles=inside
indent_typearg_angles=inside
indent_pars=inside
indent_preprocessor_if=no_indent
indent_preprocessor_region=usual_indent
indent_preprocessor_other=no_indent
indent_switch_labels=true
indent_type_constraints=true
stick_comment=false
#use_indent_from_previous_element = true # TODO: What is this?
alignment_tab_fill_style=use_spaces
align_multiline_parameter=false
align_multiline_extends_list=false
align_linq_query=false
align_multiline_binary_expressions_chain=false
outdent_binary_ops=false
align_multiline_calls_chain=false
outdent_dots=false
align_multiline_array_and_object_initializer=false
indent_anonymous_method_block=false
align_first_arg_by_paren=false
align_multiline_argument=false
align_tuple_components=false
align_multiline_expression=false
align_multiline_for_stmt=true
align_multiple_declaration=false
align_multline_type_parameter_list=false
align_multline_type_parameter_constrains=false
outdent_commas=false
int_align=false

## C# - Line Breaks -> https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_LineBreaksPageSchema.html

keep_existing_linebreaks=false
wrap_before_comma=false
special_else_if_treatment=true
max_attribute_length_for_same_line=100 # TODO: What is this?
keep_existing_arrangement=false
place_attribute_on_same_line=if_owner_is_single_line
wrap_parameters_style=chop_if_long
max_formal_parameters_on_line=10 # TODO: Check
wrap_before_declaration_lpar=false
wrap_after_declaration_lpar=true
wrap_before_declaration_rpar=false
place_constructor_initializer_on_same_line=true
place_expr_method_on_single_line=if_owner_is_single_line
place_expr_property_on_single_line=if_owner_is_single_line
place_expr_accessor_on_single_line=if_owner_is_single_line
wrap_before_arrow_with_expressions=true
place_type_constraints_on_same_line=true
wrap_before_first_type_parameter_constraint=true
wrap_multiple_type_parameter_constraints_style=chop_if_long
wrap_before_type_parameter_langle=false
wrap_before_extends_colon=true
wrap_extends_list_style=chop_if_long
place_simple_blocks_on_single_line=false
place_abstract_accessorholder_on_single_line=true
max_enum_members_on_line=1
wrap_enum_declaration=chop_always
new_line_before_else=true
new_line_before_while=false
new_line_before_catch=true
new_line_before_finally=true
wrap_for_stmt_header_style=chop_if_long
wrap_multiple_declaration_style=chop_always
place_simple_embedded_statement_on_same_line=never
place_simple_case_statement_on_same_line=never
place_simple_initializer_on_single_line=true
max_initializer_elements_on_line=10
wrap_object_and_collection_initializer_style=chop_if_long
max_array_initializer_elements_on_line=10
wrap_array_initializer_style=chop_if_long
wrap_arguments_style=chop_if_long
max_invocation_arguments_on_line=10
wrap_before_invocation_lpar=false
wrap_after_invocation_lpar=true
wrap_before_invocation_rpar=false
wrap_after_dot_in_method_calls=true
wrap_chained_method_calls=chop_if_long
wrap_before_binary_opsign=false
wrap_chained_binary_expressions=chop_if_long
force_chop_compound_if_expression=false
force_chop_compound_while_expression=false
force_chop_compound_do_expression=false
wrap_before_ternary_opsigns=false
wrap_ternary_expr_style=chop_if_long
nested_ternary_style=autodetect
wrap_linq_expressions=chop_if_long
wrap_before_linq_expression=true
place_linq_into_on_new_line=true
wrap_verbatim_interpolated_strings=wrap_if_long

## C# - Other -> https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_OthersPageSchema.html

old_engine=false

## C# - Spaces -> https://www.jetbrains.com/help/resharper/EditorConfig_CSHARP_SpacesPageSchema.html

extra_spaces=remove_all
space_after_keywords_in_control_flow_statements=true
space_between_method_call_name_and_opening_parenthesis=false
space_between_method_declaration_name_and_open_parenthesis=false
space_before_typeof_parentheses=false
space_before_default_parentheses=false
space_before_checked_parentheses=false
space_before_sizeof_parentheses=false
space_before_nameof_parentheses=false
space_between_keyword_and_expression=true
space_between_keyword_and_type=true
space_between_parentheses_of_control_flow_statements=false
space_within_parentheses=false
space_between_typecast_parentheses=false
space_between_method_declaration_parameter_list_parentheses=false
space_between_method_declaration_empty_parameter_list_parentheses=false
space_between_method_call_parameter_list_parentheses=false
space_between_method_call_empty_parameter_list_parentheses=false
space_within_typeof_parentheses=false
space_within_default_parentheses=false
space_within_checked_parentheses=false
space_within_sizeof_parentheses=false
space_within_nameof_parentheses=false
space_before_open_square_brackets=false
space_between_square_brackets=false
space_between_empty_square_brackets=false
space_before_type_parameter_angle=false
space_before_type_argument_angle=false
space_within_type_parameter_angles=false
space_within_type_argument_angles=false
space_before_singleline_accessorholder=true
space_in_singleline_accessorholder=true
space_between_accessors_in_singleline_property=true
space_within_empty_braces=false
space_in_singleline_method=true
space_in_singleline_anonymous_method=true
space_within_single_line_array_initializer_braces=true
space_around_binary_operator=true
space_around_member_access_operator=false
space_after_unary_operator=false
space_near_postfix_and_prefix_op=false
space_around_ternary_operator=true
space_before_comma=false
space_after_comma=true
space_before_semicolon_in_for_statement=false
space_after_semicolon_in_for_statement=true
space_before_semicolon=false
space_before_colon_in_inheritance_clause=true
space_after_colon_in_inheritance_clause=true
space_before_type_parameter_constraint_colon=true
space_after_type_parameter_constraint_colon=true
space_before_colon_in_case=false
space_after_colon_in_case=true
space_before_colon=false
space_after_colon=true
space_between_attribute_sections=false
space_after_attributes=true
space_after_cast=false
space_around_lambda_arrow=true
space_before_pointer_asterik_declaration=false
space_before_nullable_mark=false
space_around_alias_eq=true
space_before_trailing_comment=true
space_after_operator_keyword=false

# Microsoft .NET properties
csharp_preferred_modifier_order=public, protected, internal, private, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async:warning
csharp_prefer_braces=true:warning
csharp_space_after_keywords_in_control_flow_statements=true
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=false
csharp_space_between_square_brackets=false
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:warning
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:warning
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:warning
dotnet_style_predefined_type_for_locals_parameters_members=true:warning
dotnet_style_predefined_type_for_member_access=true:warning
dotnet_style_qualification_for_event=true:warning
dotnet_style_qualification_for_field=true:warning
dotnet_style_qualification_for_method=true:warning
dotnet_style_qualification_for_property=true:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:none

# ReSharper properties
resharper_blank_lines_after_block_statements=1
resharper_blank_lines_after_control_transfer_statements=0
resharper_blank_lines_after_multiline_statements=0
resharper_blank_lines_after_start_comment=1
resharper_blank_lines_around_single_line_invocable=0
resharper_blank_lines_around_single_line_local_method=0
resharper_blank_lines_around_single_line_property=0
resharper_blank_lines_before_block_statements=0
resharper_blank_lines_before_case=0
resharper_blank_lines_before_control_transfer_statements=0
resharper_blank_lines_before_multiline_statements=0
resharper_braces_redundant=true
resharper_empty_block_style=multiline
resharper_instance_members_qualify_members=none, field, property, event, method, all
resharper_nested_ternary_style=compact
resharper_place_attribute_on_same_line=false
resharper_place_simple_accessorholder_on_single_line=false
resharper_place_simple_accessor_on_single_line=false
resharper_place_simple_anonymousmethod_on_single_line=true
resharper_place_simple_method_on_single_line=false
resharper_prefer_separate_deconstructed_variables_declaration=true
resharper_space_after_unary_operator=false
resharper_space_before_checked_parentheses=false
resharper_space_before_default_parentheses=false
resharper_space_before_nameof_parentheses=false
resharper_space_before_singleline_accessorholder=true
resharper_space_before_sizeof_parentheses=false
resharper_space_before_typeof_parentheses=false
resharper_space_between_accessors_in_singleline_property=true
resharper_space_between_keyword_and_expression=true
resharper_space_between_keyword_and_type=true
resharper_space_in_singleline_accessorholder=true
resharper_space_in_singleline_anonymous_method=true
resharper_space_in_singleline_method=true
resharper_space_within_empty_braces=true
resharper_use_heuristics_for_body_style=true

# ReSharper inspection severities
resharper_arguments_style_anonymous_function_highlighting=warning
resharper_arguments_style_literal_highlighting=warning
resharper_arguments_style_named_expression_highlighting=warning
resharper_arguments_style_other_highlighting=warning
resharper_arguments_style_string_literal_highlighting=warning
resharper_arrange_accessor_owner_body_highlighting=warning
resharper_arrange_attributes_highlighting=warning
resharper_arrange_constructor_or_destructor_body_highlighting=warning
resharper_arrange_local_function_body_highlighting=warning
resharper_arrange_method_or_operator_body_highlighting=warning
resharper_arrange_static_member_qualifier_highlighting=warning
resharper_arrange_type_member_modifiers_highlighting=warning
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting=warning
resharper_suggest_discard_declaration_var_style_highlighting=warning

# Remove annoying Visual Studio warnings
dotnet_diagnostic.ide0001.severity=none
dotnet_diagnostic.ide0007.severity=none
dotnet_diagnostic.ide0008.severity=none
dotnet_diagnostic.ide0022.severity=none
dotnet_diagnostic.ide0027.severity=none
dotnet_diagnostic.ide0047.severity=none
